In [2]:
from bs4 import BeautifulSoup
import requests

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [10]:
table = soup.find_all('table')[0] ## this is the first table

In [11]:
## pull the rank industry.. (different colomuns) of data)
world_titles = table.find_all('th') # use the first table and pull all the headings
world_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [12]:
# do list comprehenstion
world_table_titles = [title.text for title in world_titles]
print(world_table_titles)

['Rank\n', 'Name\n', 'Industry\n', 'Revenue (USD millions)\n', 'Revenue growth\n', 'Employees\n', 'Headquarters\n']

In [13]:
### Clean the list remove the \n
world_table_titles = [title.text.strip() for title in world_titles]

In [14]:
# lets put this in pandas DataFrame
import pandas as pd
df = pd.DataFrame(columns= world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [32]:
## now pull the data from each row
column_data = table.find_all('tr')
for row in column_data:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    # print(individual_row_data)  VISUALLY SEE  HOW THE DATA LOOKS

In [27]:
#Append data into data frame for each loop
                ## start at position 1 to skip over empty first list
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data
df.head(10)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
5,6,CVS Health,Healthcare,"357,776",10.9%,"259,500","Woonsocket, Rhode Island"
6,7,ExxonMobil,Petroleum industry,"344,582",-16.7%,"61,500","Spring, Texas"
7,8,Alphabet,Technology and cloud computing,"307,394",8.7%,"182,502","Mountain View, California"
8,9,McKesson Corporation,Health,"276,711",4.8%,"48,000","Irving, Texas"
9,10,Cencora,Pharmacy wholesale,"262,173",9.9%,"44,000","Conshohocken, Pennsylvania"

In [25]:
# Convert to Csv
abs_path = "/Users/t/Desktop/DataScience/CsvOutputs"
df.to_csv(f"{abs_path}/Wikipedia_Scraping_output.csv", index=False)